---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Pagina de inicio";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>

  <h2>Mi impresioante subtítulo del blog</h2>

  <p>Como seria</p>
</BaseLayout>